/* Universais */
  * {
    margin: 0px;
    border: 10px;
  }
  
  html {
   font-size: 62.5%;
  }

  body {
    background-image: url("../images/Patinhas.png");
    background-color: #F5F5F5;
    background-attachment: fixed;
    font-family: sans-serif; 
    /* trocar essa fonte, não ficou tão boa */
  }

/* Cabeçalho */
  header {
    text-align: center;
    /* trocar essa cor por uma mais escura (e a do footer) */
    background-color: #e9dad1;
    padding: 1rem;
  }

  /* Estilo dos links */
  .botoes a {
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #F0F0F0;
    /* border: 1px solid #ccc; */
    text-decoration: none;
    color: #333;
    font-weight: bold;
    border-radius: 1rem;
    font-weight: 700;
    letter-spacing: .5px;
    font-size: 1.7rem;
  }
  
  .botoes a:hover {
    background-color: #F8F8F8;
    color: #d4a487;
    /* usar essa cor em mais coisas! */
  }

  /* Parallax */
    .parallax {
      background-image: url("../images/crop-feche-o-retrato-no-lindo-gato.jpg");
    
      /* parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      

      min-width: 100%;
    }

    /* praqq é isso aq???? */
    .parallax h1 {
      text-align: center;
      padding-top: 200px;
      color: #fff;
    }

    .img{
      display: flex;
      justify-content: center;  
        /* display: block;
        margin: 0 auto;
        position: ;
        left: 450px;
        top: 15px; */
    }

/* Body */
  /* Caixas de Texto */
    .corpo {
      padding: 20px;
    }

    .caixa {
      width: 100%;
      max-width: 1200px;
      margin: auto;
      /* border: 2px solid #ccc; */
      border-radius: 0.7em;
      box-sizing: border-box;
      background-color: #e9dad1;
      color: #333;  
   }

  /* Textos */
    p {
      line-height: 1.5;
      font-size: 2rem;
      padding-left: 1em;
      padding-right: 1em;
      padding-bottom: 1em;
      text-align: justify;
    }

    h1, h2, h3 {
      font-weight: 700;
      font-size: 2.8rem;
      padding-top: 0.8em;
      padding-left: 0.7em;
      padding-bottom: 0.5em;
    }

/* Rodapé */

  footer {
    text-align: center;
    /* trocar essa cor por uma mais escura */
    background-color: #e9dad1;
  }